<div class="article-container">    
    <div class="article-title">
        <h2>
            <%= @article.title %>
        </h2>
    </div>
    <div class="article-info">
        <div class="article-user">
            <img src="<%= "/users_image/#{@article_user.image_name}" %>">
            <p><%= @article_user.name %><p>
        </div>
        <div class="article-date">
            <p>投稿日 <%= @create_date %></p>
        </div>
    </div>
    <div class="article-text">
        <p>
            <%= @article.body %>
        </p>
    </div>
    <% if @current_user != nil %>
        <% if @article.user_id == @current_user.id.to_s %>
            <div class="article-edit">
                <%= link_to("/articles/#{@article.id}/edit") do %>
                    <input name="submit" type="submit" value="記事を編集">
                <% end %>
            </div>
            <div class="article-destroy">
                <%= link_to "/articles/#{@article.id}/destroy", data: { turbo_method: :post } do %>
                    <input name="submit" type="submit" value="記事を削除">
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>

<div class="comment-container">
    <% if @current_user != nil %>
        <%= form_tag("/articles/#{@article.id}/comment") do %>
            <div class="comment-body">
                <h2>コメントをする</h2>
                <div class="comment-text">
                    <textarea name="comment"></textarea>        
                </div>
                <div class="comment-submit">
                    <input name="submit" type="submit" value="コメントを投稿">
                </div>
            </div>
        <% end %>
    <% end %>
    <div class="comment-index">
        <h2>コメント一覧</h2>
        <% @comments.each do |comment| %>        
            <div class="comment-area">
                <div class="comment-info">
                    <div class="comment-user">
                        <img src="<%= "/users_image/#{@article_user.image_name}" %>">
                        <p><%= User.find_by(id: comment.user_id).name %><p>
                    </div>
                    <div class="comment-date">
                        <p>投稿日 <%= comment.created_at.strftime("%-Y-%-m-%-d") %></p>
                    </div>
                </div>
                <%= comment.comment %>
            </div>        
        <% end %>
    </div>
</div>