<div class="article-container">    
    <div class="article-title">
        <h2>
            <%= @article.title %>
        </h2>
    </div>
    <div class="article-info">
        <div class="article-user">
            <img src="<%= "/users_image/#{@article_user.image_name}" %>">
            <p><%= @article_user.name %><p>
        </div>
        <div class="article-date">
            <p>投稿日 <%= @create_date %></p>
        </div>
    </div>
    <div class="article-text">
        <p>
            <%= @article.body %>
        </p>
    </div>
    <div class="article-edit">
        <%= link_to("/articles/#{@article.id}/edit") do %>
            <input name="submit" type="submit" value="記事を編集">
        <% end %>
    </div>
    <div class="article-destroy">
        <%= link_to "/articles/#{@article.id}/destroy", data: { turbo_method: :post } do %>
            <input name="submit" type="submit" value="記事を削除">
        <% end %>
    </div>
</div>