<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    <header>
      <div class="header-logo"><h1>TechFill</h1></div>
      <div class="header-list">
        <ul>
          <% if @current_user %>
            <div class="header-user">
              <%= link_to("/users/#{@current_user.id}/edit") do %>
                <img src="<%= "/users_image/#{@current_user.image_name}" %>">
              <% end %>
            </div>
            <li>
              <%= link_to("ログアウト", "/users/logout", data: {turbo_method: :post}) %>
            </li>
            <li>
              <%= link_to("記事一覧", "/articles/index") %>
            </li>
          <% else %>
            <li>
              <a href="/users/login">ログイン</a>
            </li>
            <li>
              <a href="/users/signup">新規登録</a>
            </li>            
          <% end %>
        </ul>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
